/* banner */
.banner {
  width: 100%;
  height: 26.04vw;
}
.banner .img_box {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.banner .img_box img {
  width: 100%;
  height: 100%;
}
