/* cart */
.cart {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10vw;
  height: auto;
}
.cart > p {
  font-size: 2vw;
  font-weight: 600;
  margin-top: 3vw;
}
.cart .allCheck_box {
  width: 5vw;
  height: 1.5vw;
  margin-top: 3vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .allCheck_box img {
  width: 1vw;
  cursor: pointer;
}
.cart .allCheck_box p {
  font-size: 0.9vw;
  font-weight: 600;
}
.cart .article_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.cart .article_container .cart_container {
  width: 65%;
  height: auto;
}
.cart .article_container .cart_container .cart_box {
  width: 100%;
  height: 11.15vw;
  margin-bottom: 1vw;
  border: 1px solid gray;
}
.cart .article_container .cart_container .cart_box .content_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 2vw 1.5vw;
  position: relative;
}
.cart
  .article_container
  .cart_container
  .cart_box
  .content_box
  img:nth-child(1) {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
}
.cart
  .article_container
  .cart_container
  .cart_box
  .content_box
  img:nth-child(2) {
  width: 4vw;
  height: fit-content;
  max-height: 6.4vw;
  margin-left: 1vw;
}
.cart .article_container .cart_container .cart_box .content_box p:nth-child(3) {
  width: 40%;
  font-size: 1vw;
  font-weight: 500;
  margin-left: 1vw;
  margin-right: 6vw;
}
.cart .article_container .cart_container .cart_box .content_box p:nth-child(4) {
  font-size: 1vw;
  color: gray;
  text-decoration: line-through;
  margin-right: 1vw;
}
.cart .article_container .cart_container .cart_box .content_box p:nth-child(5) {
  font-size: 1vw;
  font-weight: 600;
}
.cart
  .article_container
  .cart_container
  .cart_box
  .content_box
  img:nth-child(6) {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
  margin-left: 1.5vw;
}
.cart .article_container .cart_container .cart_box .content_box .cnt_box {
  width: auto;
  height: 1.5vw;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 3vw;
  right: 5vw;
}
.cart .article_container .cart_container .cart_box .content_box .cnt_box p {
  font-size: 0.8vw;
  font-weight: 600;
}
.cart
  .article_container
  .cart_container
  .cart_box
  .content_box
  .cnt_box
  p:nth-child(3) {
  width: auto;
  margin: 0;
  font-size: 0.8vw;
  font-weight: 600;
  margin-left: 0.5vw;
}
.cart .article_container .cart_container .cart_box .content_box .cnt_box input {
  width: 3vw;
  height: 100%;
  margin-left: 1vw;
  text-align: center;
}
.cart .article_container .cart_container .btn_box {
  width: 20%;
  height: 2vw;
  display: flex;
  justify-content: space-between;
}
.cart .article_container .cart_container .btn_box .btn {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
  border: 1px solid gray;
  cursor: pointer;
}
.cart .article_container .pay_container {
  width: 30%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart .article_container .pay_container .pay_box {
  width: 100%;
  height: 90%;
  padding: 0 5%;
  background-color: rgb(233, 233, 233);
}
.cart .article_container .pay_container .pay_box > p {
  height: 1.5vw;
  font-size: 1vw;
  margin-top: 1vw;
  border-bottom: 1px solid black;
}
.cart .article_container .pay_container .price_box {
  width: 100%;
  height: 5vw;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}
.cart .article_container .pay_container .price_box .price_title {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart .article_container .pay_container .price_box .price_title p {
  font-size: 0.9vw;
  color: rgb(94, 93, 93);
}
.cart .article_container .pay_container .price_box .price {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.cart .article_container .pay_container .price_box .price p {
  font-size: 1vw;
  font-weight: 600;
}
.cart .article_container .pay_container .total_box {
  width: 100%;
  height: 4vw;
  margin-top: 2vw;
  border-top: 1px solid rgb(158, 158, 158);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .article_container .pay_container .total_box p {
  font-size: 0.9vw;
  color: rgb(94, 93, 93);
  margin-top: 1vw;
}
.cart .article_container .pay_container .total_box p:last-child {
  font-size: 1.3vw;
  font-weight: 600;
  color: black;
}
.cart .article_container .pay_container .order_btn {
  width: 100%;
  height: 4vw;
  margin-top: 1vw;
  background-color: #2b746a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.1vw;
  color: white;
}
