/* detail */
.detail {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
}
.detail .nav_box {
  display: flex;
}
.detail .nav_box p {
  font-size: 0.8vw;
  color: gray;
}
.detail .article_container {
  width: 100%;
  height: auto;
  margin-top: 1.5vw;
  display: flex;
  justify-content: space-between;
}
.detail .article_container .detail_container {
  width: 36.46vw;
  height: auto;
}
.detail .article_container .detail_container img {
  width: 100%;
}
.detail .article_container .content_container {
  width: 40%;
}
/* .detail .article_container .content_container .tag_box {
  display: flex;
}
.detail .article_container .content_container .tag_box p {
  font-size: 0.9vw;
  margin-right: 1vw;
} */
.detail .article_container .content_container .name_box {
  width: 100%;
  height: 3vw;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.detail .article_container .content_container .name_box .name {
  font-size: 1.6vw;
}
.detail .content_container .name_box img {
  width: 1.8vw;
  height: 1.8vw;
  cursor: pointer;
}
.detail .article_container .content_container .price_box {
  width: 100%;
  height: 4vw;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1vw;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.detail .article_container .content_container .price_box p:nth-child(1) {
  font-size: 1.5vw;
  font-weight: 600;
}
.detail .article_container .content_container .price_box p:nth-child(2) {
  text-decoration: line-through;
  font-size: 1.25vw;
  color: gray;
  margin-left: 1vw;
}
.detail .article_container .content_container .code_box {
  width: 100%;
  height: 4vw;
  margin-top: 1vw;
  display: flex;
}
.detail .article_container .content_container .code_box .title_box {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail .article_container .content_container .code_box .title_box p {
  font-size: 0.8vw;
  font-weight: 600;
}
.detail .article_container .content_container .code_box .content_box {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail .article_container .content_container .code_box .content_box p {
  font-size: 0.8vw;
  color: gray;
}
.detail .article_container .content_container .notice {
  height: 6vw;
  margin-top: 1vw;
  font-size: 0.8vw;
  color: gray;
  letter-spacing: -0.05vw;
  line-height: 1.1vw;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.detail .article_container .content_container .notice span {
  color: #2b746a;
}
.detail .article_container .content_container .select_box {
  width: 100%;
  height: 5vw;
  margin-top: 1.5vw;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.detail .article_container .content_container .select_box p {
  font-size: 0.9vw;
  font-weight: 600;
}
.detail .article_container .content_container .select_box select {
  width: 100%;
  height: 2.5vw;
  font-size: 0.8vw;
  padding-left: 0.7vw;
  margin-top: 0.5vw;
}
.detail .article_container .content_container .option_box {
  width: 100%;
  height: 5vw;
  margin-top: 1vw;
  padding: 1vw;
  background-color: rgb(238, 238, 238);
}
.detail .article_container .content_container .option_box .option_text_box {
  height: 1.5vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 211, 211);
}
.detail .article_container .content_container .option_box .option_text_box p {
  font-size: 0.9vw;
  font-weight: 600;
}
.detail .article_container .content_container .option_box .option_price_box {
  display: flex;
}
.detail
  .article_container
  .content_container
  .option_box
  .option_price_box
  p:last-child {
  text-decoration: line-through;
  color: gray;
  margin-left: 1vw;
}
.detail .article_container .content_container .option_box .option_select_box {
  width: 50%;
  height: 1.3vw;
  margin-top: 0.5vw;
}
.detail
  .article_container
  .content_container
  .option_box
  .option_select_box
  select {
  width: 100%;
  height: 100%;
}
.detail .article_container .content_container .cnt_box {
  width: 100%;
  height: 3vw;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  background-color: rgb(238, 238, 238);
}
.detail .article_container .content_container .cnt_box p {
  font-size: 0.9vw;
  font-weight: 600;
}
.detail .article_container .content_container .cnt_box .cnt_input_box {
  width: 20%;
  height: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail .article_container .content_container .cnt_box input {
  width: 60%;
  height: 100%;
  text-align: center;
  font-size: 0.8vw;
  padding-left: 0.5vw;
}
.detail .article_container .content_container .total_box {
  width: 100%;
  height: 3vw;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(211, 211, 211);
}
.detail .article_container .content_container .total_box p {
  font-weight: 600;
}
.detail .article_container .content_container .total_box p:first-child {
  font-size: 0.9vw;
}
.detail .article_container .content_container .total_box p:last-child {
  font-size: 1.2vw;
  color: #2b746a;
}
.detail .article_container .content_container .btn_box {
  width: 100%;
  height: 4vw;
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
}
.detail .article_container .content_container .btn_box .btn {
  width: 48%;
  height: 100%;
  font-size: 1.3vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}
.detail .article_container .content_container .btn_box .btn:last-child {
  background-color: #2b746a;
}
.detail .article_container .content_container .info_box {
  width: 100%;
  height: auto;
  margin-top: 3vw;
}
.detail .article_container .content_container .info_box .info_title_box {
  width: 100%;
  height: 1.3vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 211, 211);
  cursor: pointer;
}
.detail .article_container .content_container .info_box .info_title_box p {
  font-size: 0.8vw;
  font-weight: 600;
}
.detail .article_container .content_container .info_box .info_content_box {
  margin-top: 1vw;
}
.detail
  .article_container
  .content_container
  .info_box
  .info_content_box
  .content_title {
  font-size: 0.9vw;
  font-weight: 700;
  margin-bottom: 0.5vw;
}
.detail .article_container .content_container .info_box .info_content_box p {
  font-size: 0.8vw;
  color: gray;
  line-height: 1.28vw;
}
.detail
  .article_container
  .content_container
  .info_box
  .info_content_box
  p
  span {
  color: #2b746a;
}
