/* addModal */
.addModal {
  width: 30vw;
  height: auto;
  background-color: white;
  border: 1px solid #2b746a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.addModal img {
  width: 1vw;
  align-self: flex-end;
  margin-top: 0.5vw;
  margin-right: 0.5vw;
  cursor: pointer;
}
.addModal p {
  font-size: 1vw;
  font-weight: 600;
}
.addModal .select_box {
  width: 90%;
  height: 1.5vw;
  margin: 0 auto;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addModal .select_box select {
  width: 60%;
  height: 100%;
  font-size: 0.9vw;
  text-align: center;
}
.addModal .input_box {
  width: 90%;
  height: 1.5vw;
  margin: 0 auto;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addModal .input_box input {
  width: 60%;
  height: 100%;
  font-size: 0.9vw;
  padding-left: 0.5vw;
}
.addModal .input_box .label_container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.addModal .input_box .label_container label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.addModal .input_box .label_container label .upload_btn {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(163, 163, 163);
  color: white;
  font-size: 0.8vw;
}
.addModal .input_box .label_container input {
  display: none;
}
.addModal .img_src {
  width: 54%;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 0.5vw;
  font-size: 0.8vw;
  text-align: right;
}
.addModal .btn_box {
  width: 40%;
  height: 1.5vw;
  display: flex;
  justify-content: space-between;
  margin: 2vw auto;
}
.addModal .btn_box .btn {
  width: 45%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  cursor: pointer;
}
